*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html
{
    width: 100%;
}

section
{
    margin: 50px auto;
    height: 450px;
    width: 300px;
    border: 2px solid black;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#image
{
    /* border: 1px solid green ; */
    height: 400px;
    width: 400px;
    margin: 10px;
}

#image img
{
    height: 100%;
    width: 100%;
}



